//
// Variables
//

$caret-width: 0.3em;

//
// Caret
//

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
}

.caret--down {
  border-top: $caret-width solid;
  border-right: $caret-width solid transparent;
  border-bottom: 0;
  border-left: $caret-width solid transparent;
}

.caret--up {
  border-top: 0;
  border-right: $caret-width solid transparent;
  border-bottom: $caret-width solid;
  border-left: $caret-width solid transparent;
}
