//
// Site
//

.site {
  min-width: 300px;
  overflow: hidden;
}

.site__nav {
  background: $white;
  border-bottom: $border-width solid $grey-500;
  padding: $spacer;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: $grey-200;
}

.site__9000 {
  cursor: pointer;
}

.site__icon {
  opacity: 0.7;
  margin-right: $spacer * 0.5;
}

.site__content {
  padding-top: $spacer * 1.5;
  padding-bottom: $spacer * 1.5;
}

.site__search {
  margin-bottom: $spacer * 0.5;

  @include media-breakpoint-up(md) {
    width: auto;
    margin: 0 $spacer $spacer 0;
  }
}

.site__filters {
  display: flex;
  flex-wrap: wrap;
}

.site__headers {
  display: flex;
  background: $grey-400;
  color: $white;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

//
// Filters
//

.filter {
  display: flex;
  align-items: center;
  margin-bottom: $spacer;
}

.filter__item {
  padding: $spacer * 0.25 $spacer * 0.75;
  border-radius: 50%;
  background: $white;
  color: $grey-500;
  border: $border-width solid $grey-600;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: $spacer * 0.5;
  }
}

.filter__item--active {
  background: $blue;
  color: $white;
  border-color: darken($blue, 10%);
}

//
// Table
//

.table-header {
  position: relative;
  padding: $spacer $spacer $spacer 0;
  font-size: $font-size-sm;
  cursor: pointer;

  &:first-child {
    padding-left: $spacer;
  }

  @include media-breakpoint-up(md) {
    font-size: $font-size;

    &:first-child {
      padding-left: $spacer * 2;
    }

    &:last-child {
      padding-right: $spacer * 2;
    }
  }
}

.table-header__caret {
  position: absolute;
  top: 50%;
  margin-left: $spacer * 0.25;

  @include media-breakpoint-up(md) {
    margin-left: $spacer * 0.5;
  }
}

//
// Table cells
//

.feedbacks {
  overflow: hidden;
  margin-bottom: $spacer;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border: $border-width solid $grey-600;
  border-top: transparent;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.feedback {
  display: flex;
  background: $white;
  font-size: $font-size-sm;
  color: $grey-300;
  cursor: pointer;

  &:not(:first-child) {
    border-top: $border-width solid $grey-600;
  }

  &:hover {
    color: $grey-200;
    background: $grey-700;
    border-top-color: $grey-500;
  }

  &:hover + .feedback {
    border-top-color: $grey-500;
  }
}

.feedback__cell {
  padding: $spacer $spacer $spacer 0;

  &:first-child {
    padding-left: $spacer;
  }

  @include media-breakpoint-up(md) {
    &:first-child {
      padding-left: $spacer * 2;
    }

    &:last-child {
      padding-right: $spacer * 2;
    }
  }
}

.feedback__rating {
  display: inline-block;
  padding: $spacer * 0.25 $spacer * 0.75;
  border-radius: 50%;
  background: $blue;
  color: $white;
  border: $border-width solid darken($blue, 10%);
}

//
// Pagination
//

.pagers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint-up(md) {
    flex-wrap: no-wrap;
    justify-content: flex-start;
  }
}

.pager {
  margin-right: $spacer * 0.25;
  margin-bottom: $spacer * 0.5;
  padding: $spacer * 0.25 $spacer * 0.75;
  background: $white;
  border-radius: $border-radius;
  border: $border-width solid $grey-600;
  color: $grey-200;
  cursor: pointer;
}

.pager--active {
  font-weight: bold;
  border-color: $grey-300;
}
